.contenedorWpp {

    display: grid;
    justify-content: start;
    z-index: 999;
    position: sticky;
    bottom: 1px;
}


.botonWpp {

    width: 60px;
    object-fit: contain;
 
}

.botonWpp:hover {
    
    filter:contrast(70%);
    transition: 1s;

}