
.contenedor-wpp {

    position: fixed;
    z-index: 999;
    bottom: 20px;

}

.botonWpp {

    width: 50px;
    object-fit: contain;
 
}

.botonWpp:hover {
    
    filter:contrast(70%);
    transition: 1s;

}