.contenedorWpp {

    display: grid;
    position: sticky;
    justify-content: end;
    z-index: 999;
    bottom: 30px;

}


.botonWpp {

    height: 60px;
    object-fit: contain;
 
}

.botonWpp:hover {
    
    filter:contrast(70%);
    transition: 1s;

}