.contenedorFomulario {

    box-shadow: 2px 4px 10px black;

}

.formulario {

    border: none;
    border-bottom: 2px solid $color-secundario;
    width: 100%;
    padding: 5px; 
    

}

.formulario:focus {
    background: linear-gradient(to top, #F7D8E2, white);
    outline: none;
}

.textoArea {

    height: 300px;
    resize: none;

}


.pregunta {

    display: inline-block;
    font-size: large;
    font-weight: bold;

}



.pregunta:hover + .respuesta {

    display: block;
    font-weight: bold;
    text-decoration: underline;

}

.pa {

    padding: 20px 70px;

}

