.contenedorFomulario {

    box-shadow: 2px 2px 8px black,-2px -2px 8px black;

}

.formulario {

    
    border: 1px solid $color-secundario;
    width: 100%;
    padding: 5px; 
    

}

.formulario:focus {
    background: linear-gradient(to top, #F7D8E2, white);
    outline: none;
}

.textoArea {

    height: 300px;
    resize: none;
    color: black;
 

}



.pregunta {

    display: inline-block;
    font-size: large;
    font-weight: bold;
    color: black;

}

.respuesta {

    color: black;

}



.pregunta:hover + .respuesta {

    display: block;
    font-weight: bold;
    text-decoration: underline;

}

.pa {

    padding: 20px 70px;

}

