/* HEADER - INICIO */



.navbar {

    background-color: black;
    margin-bottom: 30px;
    z-index: 9999999;

}

a {

    text-decoration: none;

    text-transform: uppercase;

}

nav {

    font-size: 20px;

    font-weight: bold;

}

.nav-link {

    display: inline-block;

}



.logoPagina {

    height: 70px;

    box-shadow: 1px 1px 12px $color-secundario;
     

}

.texto {

    color: $color-terciario;
    
}

.texto:hover {

    color: #F5844F;

}



.achicarIconoHamburgesa {

    width: 55px;

}

.navbar-toggler {

    border: 2px solid $color-secundario;

}

/* HEADER - FIN */