/* HEADER - INICIO */


a {

    text-decoration: none;

    text-transform: uppercase;

}

nav {

    font-size: 20px;

    font-weight: bold;

}

.fondoNav {

    background-color: $color-fondo;
    

}

.logoPagina {

    height: 70px;

    box-shadow: 1px 1px 12px $color-secundario;
     

}

.texto {

    color: $color-terciario;
    
}

.texto:hover {

    color: #F5844F;

}



.achicarIconoHamburgesa {

    width: 55px;

}

.navbar-toggler {

    border: 2px solid $color-secundario;

}

/* HEADER - FIN */