.carrouselTam {

    height: 55vh;
    object-fit: contain;
    background-color: white;

}

.carousel {

    margin: 40px 50px;
    box-shadow: 0px 0px 20px black;
    background-color: white;
  

}

.carousel-control-prev-icon{

    background-color: red;


}



.resaltada {

    color: $color-principal;
}