/* MEDIA QUERIES - INICIO */

@media screen and (max-height: 300px) and (max-width: 991px) {

    .navbar-nav {

        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;


    }

    .navbar-collapse {

    
        justify-content: center;
        margin-right: 0;
       
        
    }

    .nav-link {

        display: inline-block;
        padding: 0 5px;
    
    }

    

}



@media screen and (max-width: 991px) and (min-height: 301px) {

    .navbar-collapse {

        display: grid;
        grid-template-columns: 1fr;
        margin-right: 0;
        justify-items: end;
    
    }


}

@media (max-width: 992px) {

    .carousel {

        margin: 0 0;

    }
    .pa {

        padding: 20px 0px;
    
    }
    .contenedorFomulario {

        box-shadow: none;
    
    }

    

}

@media (max-width: 350px){

    h1 {

        font-size: 30px;

    }

    h2 {

        font-size: 20px;

    }



}

@media screen and (min-height: 0px) and (max-height: 460px){
    
    .card-img-top {

        height: 140px;
       
    
    }

}

@media screen and (min-height: 461px) and (max-height: 560px){
    
    .card-img-top {

        height: 180px;
       
    
    }

}


@media screen and (min-height: 561px) and (max-height: 790px){
    
    .card-img-top {

        height: 280px;
       
    
    }

}




@media screen and (min-width: 576px) and (max-width: 1199px) {
    
    .card-titulo {

        font-size: 15px;
    
    }
    
    .card-precio-viejo {
    
        font-size: 11px;
    
    }
    
    .card-precio-nuevo {
    
        font-size: 15px;
    }

    .button {

       
        padding: 10px;
    
        font-size: 12px;
    
        width: 90px;
    
    }

    .buttonCancel {


        padding: 10px;
    
        font-size: 12px;
    
        width: 90px;
    
    }


}






/* MEDIA QUERIES - FIN */